@{
    ViewData["Title"] = "Parameters";
}

@model UserInfoVM

<h1>Parameters</h1>

<div>Email : @Model.Email</div>
<div>User Name : @Model.UserName</div>
<div>Information Text : @Model.InformationText</div>
