@{
    ViewData["Title"] = "Index";
}
@model Product

<div class="row">
    <div class="col-sm-8">
        <div class="table table-sm table-hover">
            <table class="table table-sm table-hover">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                </tr>
            </table>

        </div>
    </div>
</div>